<IfModule mod_passenger.c>
Options -MultiViews
PassengerResolveSymlinksInDocumentRoot on
#Set this to whatever environment you'll be running in
RailsEnv development
RackBaseURI /
PassengerAppRoot /home2/bradhvrc/rails_apps/blog
SetEnv GEM_HOME /home2/bradhvrc/ruby/gems
</IfModule>